/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.paper-color {
  background: radial-gradient(
    circle at 44% 42%,
    rgba(178, 154, 184, 1),
    #8d3bad,
    rgba(86, 45, 107, 1)
  ) !important;
}

.login-svg {
  width: 320px;
  height: 320px;
  object-fit: "fill";
  border-style: none;
  z-index: -1;
  top: 0;
}

.login-icon {
  width: 170px;
  /* height: 100px; */
  object-fit: fill;
  z-index: -1;
  top: 0;
}

.login-paper {
  background: #111927;
  background: -webkit-linear-gradient(237deg, #111927 0%, #1a202c 100%);
  background: linear-gradient(237deg, #111927 0%, #1a202c 100%);
}

/* .sidebar-text {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
} */

.logo-sidebar {
  /* border-color: #2f3746; */
  /* border-radius: 8px;
  border-style: solid;
  border-width: 1px; */
  padding: 2px;
}

/* .logo-title {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  background-image: linear-gradient(120deg, #973efe, #c20aff);
  background-clip: text;
  color: transparent;
} */
